<div class="content-side right-sidebar col-lg-12 col-md-12 col-sm-12">
    <div class="create-post">
      
        <div class="row">
          <div class="col-md-12 col-sm-12">
            
          <div class="form-group">
            <div>
              <!-- <button class="close pull-right" (click)="close()">&times;</button> -->
              <h2 class="text-center">Create Post</h2>
              <hr>
             </div>
            <div>
              <img  src="images\users\user-1.jpg" alt="" class="profile-photo-md">
              <textarea name="texts" [(ngModel)]="feedText" id="exampleTextarea" cols="30" rows="3" class="scrollbar-lady-lips thin" placeholder="Write what you wish"></textarea>
            </div>
            <div class="pn-sc scrollbar-lady-lips thin">
              <button class="dl-im pull-right" (click)="close()">&times;</button>
              <img id="UploadImg" src="" alt="">
            </div>
            <div class="tools">
              <ul class="publishing-tools list-inline">
                  <li>
                      <button (click) ="toggleEmojiPicker()"> 😀</button><br>
              <emoji-mart class="emoji-mart" set="{{set}}" *ngIf="showEmojiPicker" 
              (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
                  </li>
                <li><a href="javascript:void(0)"><i class="fa fa-image" (click)="uploader.click()"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-video-camera"></i></a></li>
              </ul>
              
            </div>
            <div>
              <button class="btn btn-primary pull-right" (click)="createPost()">Publish</button>
              <button class="btn pull-right" (click)="close()">Cancel</button>
            </div>
          </div>
        </div>
        </div>
        <input hidden #uploader type="file" accept=".jpg,.png,.jpeg" id="myFile" name="filename" (change)="loadFile($event)">
    </div>
    </div>
    <div *ngIf="loader" class="screen_loader loader" id="screenLoader"></div>
