.cdk-overlay-pane{
    margin-top: 10%;
}
textarea{
    resize:none;
    display: block;
    width: 100%;
}
.pn-sc{
    /* max-height:inherit; */
    min-height: inherit;
  }
  .pn-sc{
    overflow-y: scroll;
    max-height: 250px;
  }
  
  .scrollbar-lady-lips::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	  background-color: #F5F5F5;
	  border-radius: 10px; }
	  
	.scrollbar-lady-lips::-webkit-scrollbar {
	  width: 12px;
	  background-color: #F5F5F5; }
	  
	.scrollbar-lady-lips::-webkit-scrollbar-thumb {
	  border-radius: 10px;
	  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef),
	  to(#fecfef));
	  background-image: -webkit-linear-gradient(bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
	  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); }
	  
	.thin::-webkit-scrollbar {
      width: 6px; }
      
.dl-im{
    position: absolute;
    top: 10px;
    right: 10px;
}