<div class="manage-cource-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <h4>Add Question</h4>
                </div>
                <div class="pull-right">
                    <a href="javascript:void(0)" class="see-all">Test List</a>
                </div>
            </div>
        </div>
        <div class="inner-container">
            <div class="container-content">
                <div class="row clearfix">
                
                    <!-- Left Column -->
                    <div class="left-column col-lg-12 col-md-12 col-sm-12">
                        <div class="inner-column">
                            
                            
                            <!-- Edit Course Form -->
                            <div class="edit-course-form">
                                <form method="post" #quesForm="ngForm" (ngSubmit)="quesForm.form.valid && submitForm(model)">
                                    <div class="row">
                                        
                                        <div class="col-sm-6">
                                            <label for="">Multiple Choice</label>
                                            <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                        
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" 
                                                    name="inlineRadioOptions" (click)="isMultiple=1" id="inlineRadio1" value="1" >
                                                    <label class="form-check-label" for="inlineRadio1" >Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" 
                                                    name="inlineRadioOptions"  (click)="isMultiple=0" id="inlineRadio2" value="0" checked >
                                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                                <label for="">Correct Options</label>
                                                <div *ngIf="isMultiple==0" class="col-lg-12 col-md-12 col-sm-12 mb-5">
                        
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" 
                                                        name="inlineRadioOptions2"  id="inlineRadio3" value="0" checked >
                                                        <label class="form-check-label" for="inlineRadio3" >A</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" 
                                                        name="inlineRadioOptions2" id="inlineRadio4" value="1" >
                                                        <label class="form-check-label" for="inlineRadio4">B</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" 
                                                        name="inlineRadioOptions2"  id="inlineRadio5" value="2" >
                                                        <label class="form-check-label" for="inlineRadio5" >C</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" 
                                                        name="inlineRadioOptions2"  id="inlineRadio6" value="3" >
                                                        <label class="form-check-label" for="inlineRadio6">D</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" 
                                                        name="inlineRadioOptions2"  id="inlineRadio7" value="4" >
                                                        <label class="form-check-label" for="inlineRadio7" >E</label>
                                                    </div>
                                                </div>
                                                <div *ngIf="isMultiple==1" class="col-lg-12 col-md-12 col-sm-12 mb-5">
                        
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" 
                                                        name="inlinecheckOptions"  id="inlinecheck1" value="0" checked >
                                                        <label class="form-check-label" for="inlinecheck1" >A</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" 
                                                        name="inlinecheckOptions"  id="inlinecheck2" value="1" checked >
                                                        <label class="form-check-label" for="inlinecheck2">B</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" 
                                                        name="inlinecheckOptions"  id="inlinecheck3" value="2" >
                                                        <label class="form-check-label" for="inlinecheck3" >C</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" 
                                                        name="inlinecheckOptions" id="inlinecheck4" value="3" >
                                                        <label class="form-check-label" for="inlinecheck4">D</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" 
                                                        name="inlinecheckOptions"  id="inlinecheck5" value="4" >
                                                        <label class="form-check-label" for="inlinecheck5" >E</label>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="">Question Image</label>
                                            <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                                                <input type="file" accept=".jpg,.png,.jpeg" id="myFile" name="filename" (change)="loadFile($event,5)">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="">Option A Image</label>
                                            <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                                                <input type="file" accept=".jpg,.png,.jpeg" id="myFile" name="filename" (change)="loadFile($event,0)">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="">Option B Image</label>
                                            <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                                                <input type="file" accept=".jpg,.png,.jpeg" id="myFile" name="filename" (change)="loadFile($event,1)">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="">Option C Image</label>
                                            <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                                                <input type="file" accept=".jpg,.png,.jpeg" id="myFile" name="filename" (change)="loadFile($event,2)">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="">Option D Image</label>
                                            <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                                                <input type="file" accept=".jpg,.png,.jpeg" id="myFile" name="filename" (change)="loadFile($event,3)">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="">Option E Image</label>
                                            <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                                                <input type="file" accept=".jpg,.png,.jpeg" id="myFile" name="filename" (change)="loadFile($event,4)">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="">Question</label>
                                                <ckeditor [editor]="Editor" (change)="onChange($event,-1)" id="ckques" [(ngModel)]="model.ques" data="<p>Enter Question</p>"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="">Option A</label>
                                                <ckeditor [editor]="Editor" (change)="onChange($event,0)" [(ngModel)]="model.answer[0]" [config]="{ toolbar: [ [ 'Bold' ] ] }" data="<p>Enter Option A</p>"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="">Option B</label>
                                                <ckeditor [editor]="Editor" (change)="onChange($event,1)" [(ngModel)]="model.answer[1]" [config]="{ toolbar: [ [ 'Bold' ] ] }" data="<p>Enter Option B</p>"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="">Option C</label>
                                                <ckeditor [editor]="Editor" (change)="onChange($event,2)" [(ngModel)]="model.answer[2]" [config]="{ toolbar: [ [ 'Bold' ] ] }" data="<p>Enter Option C</p>"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="">Option D</label>
                                                <ckeditor [editor]="Editor" (change)="onChange($event,3)" [(ngModel)]="model.answer[3]" [config]="{ toolbar: [ [ 'Bold' ] ] }" data="<p>Enter Option D</p>"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="">Option E</label>
                                                <ckeditor [editor]="Editor" (change)="onChange($event,4)" [(ngModel)]="model.answer[4]" [config]="{ toolbar: [ [ 'Bold' ] ] }" data="<p>Enter Option E</p>"></ckeditor>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- Form Group -->
                                    
                                    
                                    
                                    
                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <button type="submit" class="theme-btn btn-style-one"><span class="txt">Save</span></button>
                                        <button type="button" (click)="close()" class="theme-btn btn-style-one"><span class="txt">Cancel</span></button>
                                    </div>
                                    
                                </form>
                            </div>
                            
                        </div>
                    </div>
               
                
              
            </div>
        </div>
    </div>
</div>