<div class="sec-title">
    <div class="clearfix">
        <div class="pull-left">
            <h4>{{type}} Category</h4>
        </div>
        <!-- <div class="pull-right">
            <a href="#"  class="see-all">Add Module</a>
        </div> -->
    </div>
</div>
<div class="inner-container">
    <div class="row clearfix">
        
        <!-- Left Column -->
        <div class="left-column col-lg-12 col-md-12 col-sm-12">
            <div class="inner-column">
                <!-- Edit Course Form -->
                <div class="edit-course-form">
                    <form method="post" (ngSubmit)="moduleForm.form.valid && onSubmit(model)" #moduleForm="ngForm">
                        <div *ngIf="type=='Add'" class="form-group">
                            <label>Select Module</label>
                            <input type="text" id="moduleTextAdd" (click)="myFunctionAdd()" class="mat-input-element" readonly>
                            <div id="myDropdownAdd" class="dropdown-content">
                                <input type="text" placeholder="Search.." id="myInputAdd" (keyup)="filterFunctionAdd()" autocomplete="off" >
                                <div class="scrollbar scrollbar-lady-lips thin">
                                    <a *ngFor="let list of moduleList; let i = index" class="ui-menu-item" href="javascript:void(0)"
                                    (click)="myFunction2Add(list.module_name,list.id)">{{list.module_name}}</a>
                                </div>
                            </div>
                        </div>
                
                        <!-- Form Group -->
                        <div class="form-group">
                            <label>Category</label>
                            <input id="name" type="text" [(ngModel)]="model.subject_name" name="module" 
                            value="" placeholder="Enter Category" required="" #name="ngModel" autocomplete="off">
                            <div *ngIf="name.invalid && (name.dirty || name.touched || name.submitted)"
                                class="alert alert-danger">
                                    <div *ngIf="name.errors.required">
                                        Category Name is required.
                                    </div>
                                </div>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-one"><span class="txt">Save</span></button>
                            <button type="button" (click)="Close()" class="theme-btn btn-style-one"><span class="txt">Cancel</span></button>
                        </div>
                        
                    </form>
                </div>
                
            </div>
        </div>
        
    </div>
</div>