<section class="signup-section" style="background-image:url(images/background/pattern-4.png)">
    <div class="auto-container">
        <!-- <div class="logo">
            <a href="index.html"><img src="images\logo-3.png" alt=""></a>
        </div> -->
        <div class="inner-container">
            <h2>A Warm Welcome To <span class="theme_color">Biqual</span></h2>
            <div class="text">Sign Up and Start Learning</div>
            
            <!-- Login Form -->
            <div class="styled-form">
                <form method="post" (ngSubmit)="model.password == model.cpassword && signupForm.form.valid && onSubmit(model)" #signupForm="ngForm">
                    
                    <div class="row clearfix">
                        
                        <!-- Form Group -->
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label>Name</label>
                            <input id="name" type="text" [(ngModel)]="model.name" name="name" 
                            value="" placeholder="Full Name" required #name="ngModel">
                            <div *ngIf="name.invalid && (name.dirty || name.touched || signupForm.submitted)"
                                    class="alert alert-danger">

                                <div *ngIf="name.errors.required">
                                    Name is required.
                                </div>

                            </div>
                        </div>
                        
                        
                        <!-- Form Group -->
                        <div class="form-group col-lg-6 col-md-12 col-sm-12">
                            <label>Phone Number</label>
                            <input type="text" [(ngModel)]="model.phone" name="phone" value="" placeholder="1234567890" 
                            required #phone="ngModel" minlength="10">
                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched || signupForm.submitted)"
                            class="alert alert-danger">
                                <div *ngIf="phone.errors.required">
                                    Phone Number is required.
                                </div>
                                <div *ngIf="phone.errors.minlength">
                                    Phone Number must be valid.
                                </div>
                            </div>
                        </div>
                        
                        <!-- Form Group -->
                        <div class="form-group col-lg-6 col-md-12 col-sm-12">
                            <label>Email Address</label>
                            <input type="email" [(ngModel)]="model.email" name="email" value="" 
                            placeholder="abcd@gmail.com" required #email="ngModel" email>
                            <div *ngIf="email.invalid && (email.dirty || email.touched || signupForm.submitted)"
                            class="alert alert-danger">
                                <div *ngIf="email.errors.required">
                                    Email is required.
                                </div>
                                <div *ngIf="email.errors.email">Email must be valid
                                </div>
                            </div>
                        </div>
                        
                        <!-- Form Group -->
                        <div class="form-group col-lg-6 col-md-12 col-sm-12">
                            <label>Password</label>
                            <span class="eye-icon fa fa-eye"
                            (mouseover)="passwordType='text'" (mouseout)="passwordType='password'"></span>
                            <input type="{{passwordType}}" [(ngModel)]="model.password" minlength="8"
                             name="password" value="" placeholder="Password" required #password="ngModel">
                             <div *ngIf="password.invalid && (password.dirty || password.touched || signupForm.submitted)"
                            class="alert alert-danger">
                                <div *ngIf="password.errors.required">
                                    Password is required.
                                </div>
                                <div *ngIf="password.errors.minlength">
                                    Password must be at least 8 characters</div>
                            </div>
                        </div>
                        
                        <!-- Form Group -->
                        <div class="form-group col-lg-6 col-md-12 col-sm-12">
                            <label>Confirm Password</label>
                            <span class="eye-icon fa fa-eye"
                            (mouseover)="cpasswordType='text'" (mouseout)="cpasswordType='password'"></span>
                            <input type="{{cpasswordType}}" [(ngModel)]="model.cpassword" name="cpassword" value="" placeholder="Password" required 
                            #cpassword="ngModel">
                            <div *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched || signupForm.submitted)"
                            class="alert alert-danger">
                                <div *ngIf="cpassword.errors.required">
                                    Confirm Password is required.
                                </div>
                            </div>
                            <div *ngIf="(cpassword.dirty || cpassword.touched || signupForm.submitted)"
                            class="alert alert-danger">
                                    <div *ngIf="model.password != model.cpassword">Password not
                                        match</div>
                            </div>
                        </div>
                        
                        <!-- Signup Info Tabs-->
                        <div class="signup-info-tabs col-lg-12 col-md-12 col-sm-12">
                        
                            <!-- Signup Tabs-->
                            <div class="signup-tabs tabs-box text-center">
                                
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" 
                                    [(ngModel)]="model.type" name="inlineRadioOptions"  (ngModelChange)="choose($event)"id="inlineRadio1" value="2">
                                    <label class="form-check-label" for="inlineRadio1">Instructor</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" 
                                    [(ngModel)]="model.type" (ngModelChange)="choose($event)" name="inlineRadioOptions" id="inlineRadio2" value="1">
                                    <label class="form-check-label" for="inlineRadio2">Student</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
                            <button type="submit" class="theme-btn btn-style-one"><span class="txt">Sign Up Now</span></button>
                        </div>
                        
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="users">Already have an account? <a href="/#/authentication/Login">Sign In Now</a></div>
                        </div>
                        
                    </div>
                    
                </form>
            </div>
            
        </div>
        
    </div>
</section>