<section class="signup-section login-section" style="background-image:url(images/background/pattern-4.png)">
    <div class="auto-container">
        <!-- <div class="logo">
            <a href="index.html"><img src="images\logo-3.png" alt=""></a>
        </div> -->
        <div class="inner-container">
            <h2>Welcome Back To <span class="theme_color">Biqual</span></h2>
            <div class="text">Reset you password</div>
            
            <div class="styled-form">
                <form method="post"
                (ngSubmit)="forgetForm.form.valid && onSubmit(model)" #forgetForm="ngForm">
                    
                    <div class="form-group">
                        <input type="email" [(ngModel)]="model.email" name="email"
                         value="" placeholder="Email Address" required #email="ngModel" email>
                         <div *ngIf="email.invalid && (email.dirty || email.touched || forgetForm.submitted)"
                            class="alert alert-danger">
                                <div *ngIf="email.errors.required">
                                    Email is required.
                                </div>
                                <div *ngIf="email.errors.email">Email must be valid
                                </div>
                            </div>
                    </div>
                    
                    <div class="form-group text-center">
                        <button type="submit" class="theme-btn btn-style-one"><span class="txt">Submit</span></button>
                    </div>
                    
                    <div class="form-group">
                        <div class="users">New User? <a href="/#/authentication/signup">Sign Up Now</a></div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</section>