<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="content-side right-sidebar col-lg-9 col-md-12 col-sm-12">
                <div class="post-content">
                    <div class="dots-menu btn-group">
                        <a data-toggle="dropdown"> <span class="glyphicon glyphicon-option-vertical"> </span></a>
                       
                        <ul class="dropdown-menu">
                          <li>
                              <a href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a></li>
                          <li class="delete-row" >
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#alert-modal"><i class="fa fa-trash-o"></i> Delete</a>
                          </li>
                        </ul>
                      </div>
                      <div class="video-wrapper">
                        <img src="http://smegroup.org/client/adminBook/public/storage/feeds/5f95b1397882a.jpg" alt="post-image" class="img-responsive post-image">
                      </div>
                    
                      <div class="post-container">
						<img  src="" alt="user" class="profile-photo-md pull-left">
						<img  src="" alt="user" class="profile-photo-md pull-left">
						<div class="post-detail">
						<div class="user-info">
							<h4><a href="timeline.html" class="profile-link">username</a></h4>
							<p class="text-muted">Updated her status about minute ago</p>
						</div>
						<div  class="reaction" >
							<a class="btn text-green">
								<i  class="fa fa-thumbs-up" ></i>
								1</a>
						</div>
						<div  class="reaction" >
							<a class="btn text-green">
								<i  style="color: blue;" class="fa fa-thumbs-up"></i> 
								1</a>
						</div>
						<div class="line-divider"></div>
						<div class="post-text">
							<p>this is text</p>
						</div>
						<div class="line-divider"></div>
						<div class="post-comment">
							<form method="post" >
								<img src="images\users\user-1.jpg" alt="" class="profile-photo-sm">
								<input type="text" class="form-control commentText" placeholder="Post a comment">
							</form>
						</div>
						<div class="post-comment" >
							<img  src="" alt="user" class="profile-photo-md pull-left">
							<img  src="" alt="user" class="profile-photo-md pull-left">
							<p><a href="timeline.html" class="profile-link">username </a>user text </p>
						</div>
						
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>