<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="content-side right-sidebar col-lg-9 col-md-12 col-sm-12">
                <div class="post-content">
                    <div class="dots-menu btn-group">
                        <a data-toggle="dropdown"> <span class="glyphicon glyphicon-option-vertical"> </span></a>
                       
                        <ul class="dropdown-menu">
                          <li>
                              <a href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a></li>
                          <li class="delete-row" >
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#alert-modal"><i class="fa fa-trash-o"></i> Delete</a>
                          </li>
                        </ul>
                      </div>
                      <div class="video-wrapper">
                        <img src="{{globalBaseUrl}}{{postData.feed_image}}" alt="post-image" class="img-responsive post-image">
                      </div>
                    
                      <div class="post-container">
						<img  src="{{postData.profile_image?globalBaseUrl+postData.profile_image:globalBaseUrl+postData.default_profile_image}}" alt="user" class="profile-photo-md pull-left">
						<div class="post-detail">
						<div class="user-info">
							<h4><a href="timeline.html" class="profile-link">{{postData.username}}</a></h4>
							<p class="text-muted">Updated her status about {{getTimeData(postData.CreateOn_date)}} ago</p>
						</div>
						<div *ngIf="!postData.is_current_user_like" class="reaction" (click)="LikeFeed(postData,1)">
							<a class="btn text-green">
								<i  class="fa fa-thumbs-up" ></i>{{postData.feed_like_count}}</a>
						</div>
						<div *ngIf="postData.is_current_user_like" class="reaction" (click)="LikeFeed(postData,0)">
							<a class="btn text-green">
								<i  style="color: blue;" class="fa fa-thumbs-up"></i>{{postData.feed_like_count}}</a>
						</div>
						<div class="line-divider"></div>
						<div class="post-text">
							<p>{{postData.text}}</p>
						</div>
						<div class="line-divider"></div>
						<div class="post-comment">
							<form method="post" #commentForm="ngForm" (ngSubmit)="commentForm.form.valid && addComment(0,postData)">
								<img src="images\users\user-1.jpg" alt="" class="profile-photo-sm">
								<input type="text" class="form-control commentText" placeholder="Post a comment">
							</form>
						</div>
						<div class="post-comment" *ngFor="let commentItem of commentList; let i = index">
							<!-- <img *ngIf="commentItem.user[0].image==null" src="{{globalBaseUrl+postData.default_profile_image}}" alt="user" class="profile-photo-md pull-left">
							<img *ngIf="commentItem.user[0].image!=null" src="{{globalBaseUrl+commentItem.user[0].image}}" alt="user" class="profile-photo-md pull-left"> -->
							<p><a href="timeline.html" class="profile-link"> </a>{{commentItem.text}} </p>
						</div>
						
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>