<div class="edit-cource-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <h4>Add Module</h4>
                </div>
                <div class="pull-right">
                    <a href="#"  class="see-all">Add Module</a>
                </div>
            </div>
        </div>
        <div class="inner-container">
            <div class="row clearfix">
                
                <!-- Left Column -->
                <div class="left-column col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h6>Basic Information</h6>
                        
                        <!-- Edit Course Form -->
                        <div class="edit-course-form">
                            <form method="post" action="index.html">
                                
                                <!-- Form Group -->
                                <div class="form-group">
                                    <label>Module</label>
                                    <input type="text" name="module" value="" placeholder="Enter module" required="">
                                </div>
                                
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="custom-select-box">
                                        <option>UI/UX</option>
                                        <option>Category 01</option>
                                        <option>Category 02</option>
                                    </select>
                                    <span class="select-category">Select a category</span>
                                </div>
                                <!-- Form Group -->
                                <div class="form-group">
                                    <button type="button" class="theme-btn btn-style-one"><span class="txt">Save Changes</span></button>
                                </div>
                                
                            </form>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>