	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!-- Sidebar Side -->
                <div class="sidebar-side left-sidebar col-lg-3 col-md-12 col-sm-12">
                	<aside class="sidebar sticky-top">
						
						<!-- Tags Widget -->
                        <div class="sidebar-widget tags-widget">
							<div class="widget-content">
								<div class="sidebar-title">
									<h6>Popular Topics</h6>
								</div>
								<div class="content">
									<ul>
										<li><a href="#">Animation</a></li>
										<li><a href="#">WordPress</a></li>
										<li><a href="#">Bootstrap</a></li>
										<li><a href="#">User Interface</a></li>
										<li><a href="#">Web Design</a></li>
										<li><a href="#">Photoshop</a></li>
										<li><a href="#">Responsive Design</a></li>
										<li><a href="#">Figma</a></li>
										<li><a href="#">Adobe XD</a></li>
										<li><a href="#">Sketch</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<!-- Categories Widget -->
                        <div class="sidebar-widget categories-widget">
							<div class="widget-content">
								<div class="sidebar-title">
									<h6>Top Categories</h6>
								</div>
								<div class="content">
									<ul>
										<li><a href="category.html"><span class="icon flaticon-web-programming"></span>Development</a></li>
										<li><a href="category.html"><span class="icon flaticon-pie-chart"></span>Business</a></li>
										<li><a href="category.html"><span class="icon flaticon-megaphone"></span>Marketing</a></li>
										<li><a href="category.html"><span class="icon flaticon-computer"></span>IT and Software</a></li>
										<li><a href="category.html"><span class="icon flaticon-picture"></span>Photography</a></li>
										<li><a href="category.html"><span class="icon flaticon-ux"></span>UX Design</a></li>
									</ul>
									<a href="category.html" class="all-category">View All Categories</a>
								</div>
							</div>
						</div>
						
						<!-- Featured Widget -->
                        <div class="sidebar-widget featured-widget">
							<div class="widget-content">
								<div class="sidebar-title">
									<h6>Featured Instructors</h6>
								</div>
								<div class="content">
									<div class="featured-carousel owl-carousel owl-theme">
										
										<!-- Feature Block -->
										<div class="featured-block">
											<div class="inner-box">
												<div class="image">
													<a href="instructor-profile.html" class="overlay-link"></a>
													<img src="images\resource\feature-1.jpg" alt="">
													<!-- Overlay Box -->
													<div class="overlay-box">
														<div class="overlay-inner">
															<div class="overlay-content">
																<!-- Author Image -->
																<div class="author-image">
																	<img src="images\resource\author-5.jpg" alt="">
																</div>
																<div class="name">Jhon Deo</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Feature Block -->
										<div class="featured-block">
											<div class="inner-box">
												<div class="image">
													<a href="instructor-profile.html" class="overlay-link"></a>
													<img src="images\resource\feature-2.jpg" alt="">
													<!-- Overlay Box -->
													<div class="overlay-box">
														<div class="overlay-inner">
															<div class="overlay-content">
																<!-- Author Image -->
																<div class="author-image">
																	<img src="images\resource\author-6.jpg" alt="">
																</div>
																<div class="name">Jhon Deo</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Feature Block -->
										<div class="featured-block">
											<div class="inner-box">
												<div class="image">
													<a href="instructor-profile.html" class="overlay-link"></a>
													<img src="images\resource\feature-3.jpg" alt="">
													<!-- Overlay Box -->
													<div class="overlay-box">
														<div class="overlay-inner">
															<div class="overlay-content">
																<!-- Author Image -->
																<div class="author-image">
																	<img src="images\resource\author-7.jpg" alt="">
																</div>
																<div class="name">Jhon Deo</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Feature Block -->
										<div class="featured-block">
											<div class="inner-box">
												<div class="image">
													<a href="instructor-profile.html" class="overlay-link"></a>
													<img src="images\resource\feature-1.jpg" alt="">
													<!-- Overlay Box -->
													<div class="overlay-box">
														<div class="overlay-inner">
															<div class="overlay-content">
																<!-- Author Image -->
																<div class="author-image">
																	<img src="images\resource\author-5.jpg" alt="">
																</div>
																<div class="name">Jhon Deo</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Feature Block -->
										<div class="featured-block">
											<div class="inner-box">
												<div class="image">
													<a href="instructor-profile.html" class="overlay-link"></a>
													<img src="images\resource\feature-2.jpg" alt="">
													<!-- Overlay Box -->
													<div class="overlay-box">
														<div class="overlay-inner">
															<div class="overlay-content">
																<!-- Author Image -->
																<div class="author-image">
																	<img src="images\resource\author-6.jpg" alt="">
																</div>
																<div class="name">Jhon Deo</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Feature Block -->
										<div class="featured-block">
											<div class="inner-box">
												<div class="image">
													<a href="instructor-profile.html" class="overlay-link"></a>
													<img src="images\resource\feature-3.jpg" alt="">
													<!-- Overlay Box -->
													<div class="overlay-box">
														<div class="overlay-inner">
															<div class="overlay-content">
																<!-- Author Image -->
																<div class="author-image">
																	<img src="images\resource\author-7.jpg" alt="">
																</div>
																<div class="name">Jhon Deo</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						
						<!--  Support Widget -->
                        <div class="sidebar-widget support-widget">
							<div class="widget-content">
								<h5>We are here to help you</h5>
								<div class="text">Lorem ipsum dolor sit amet, con<br>sectetur adipisicing elit, </div>
								<a href="help.html" class="theme-btn btn-style-one"><span class="txt">Support Center</span></a>
							</div>
						</div>
						
					</aside>
				</div>
				
				<!-- Content Side -->
                <div class="content-side right-sidebar col-lg-7 col-md-12 col-sm-12">
					<div class="create-post">
						<div class="row">
							<div class="col-md-7 col-sm-7">
						  <div class="form-group">
							<img src="images\users\user-1.jpg" alt="" class="profile-photo-md">
							<textarea name="texts" [(ngModel)]="feedText" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
							
						  </div>
						</div>
							<div class="col-md-5 col-sm-5">
						  <div class="tools">
							<ul class="publishing-tools list-inline">
								<li>
									<button (click) ="toggleEmojiPicker()"> 😀</button><br>
							<emoji-mart class="emoji-mart" set="{{set}}" *ngIf="showEmojiPicker" 
							(emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
								</li>
							  <li><a href="javascript:void(0)"><i class="fa fa-image" (click)="uploader.click()"></i></a></li>
							  <li><a href="javascript:void(0)"><i class="fa fa-video-camera"></i></a></li>
							</ul>
							<button class="btn btn-primary pull-right" (click)="createPost()">Publish</button>
						  </div>
						</div>
						</div>
						<input hidden #uploader type="file" accept=".jpg,.png,.jpeg" id="myFile" name="filename" (change)="loadFile($event)">
					</div>
					
					<div class="post-content" *ngFor="let item of feedList">
						<div class="video-wrapper">
							<img src="http://smegroup.org/client/adminBook/{{item.image}}" alt="user">
					  </div>
					<div class="post-container">
						<img src="" alt="user" class="profile-photo-md pull-left">
						<div class="post-detail">
						<div class="user-info">
							<h5><a href="timeline.html" class="profile-link">Sophia Lee</a> <span class="following">following</span></h5>
							<p class="text-muted">Updated her status about 33 mins ago</p>
						</div>
						<div class="reaction">
							<a class="btn text-green"><i class="fa fa-thumbs-up"></i> 75</a>
							<a class="btn text-red"><i class="fa fa-thumbs-down"></i> 8</a>
						</div>
						<div class="line-divider"></div>
						<div class="post-text">
							<p>{{item.text}}</p>
						</div>
						<div class="line-divider"></div>
						<div class="post-comment">
							<img src="images\users\user-14.jpg" alt="" class="profile-photo-sm">
							<p><a href="timeline.html" class="profile-link">Olivia </a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <i class="em em-anguished"></i> Ut enim ad minim veniam, quis nostrud </p>
						</div>
						<div class="post-comment">
							<img src="images\users\user-1.jpg" alt="" class="profile-photo-sm">
							<p><a href="timeline.html" class="profile-link">Sarah</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						</div>
						<div class="post-comment">
							<img src="images\users\user-2.jpg" alt="" class="profile-photo-sm">
							<p><a href="timeline.html" class="profile-link">Linda</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="post-comment">
							<img src="images\users\user-1.jpg" alt="" class="profile-photo-sm">
							<input type="text" class="form-control" placeholder="Post a comment">
						</div>
						</div>
					</div>
					</div>

					<div class="post-content">
						<div class="post-container">
						  <img src="images\users\user-2.jpg" alt="user" class="profile-photo-md pull-left">
						  <div class="post-detail">
							<div class="user-info">
							  <h5><a href="timeline.html" class="profile-link">Linda Lohan</a> <span class="following">following</span></h5>
							  <p class="text-muted">Published a photo about 1 hour ago</p>
							</div>
							<div class="reaction">
							  <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 23</a>
							  <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 4</a>
							</div>
							<div class="line-divider"></div>
							<div class="post-text">
							  <p><i class="em em-thumbsup"></i> <i class="em em-thumbsup"></i> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
							</div>
							<div class="line-divider"></div>
							<div class="post-comment">
							  <img src="images\users\user-12.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Cris </a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam <i class="em em-muscle"></i></p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-1.jpg" alt="" class="profile-photo-sm">
							  <input type="text" class="form-control" placeholder="Post a comment">
							</div>
						  </div>
						</div>
					  </div>

					  <div class="post-content">
						<img src="../../../assets/images\resource\author-4.jpg" alt="post-image" class="img-responsive post-image" >
						<div class="post-container">
						  <img src="images\users\user-4.jpg" alt="user" class="profile-photo-md pull-left">
						  <div class="post-detail">
							<div class="user-info">
							  <h5><a href="timeline.html" class="profile-link">John Doe</a> <span class="following">following</span></h5>
							  <p class="text-muted">Published a photo about 2 hour ago</p>
							</div>
							<div class="reaction">
							  <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 39</a>
							  <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 2</a>
							</div>
							<div class="line-divider"></div>
							<div class="post-text">
							  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
							</div>
							<div class="line-divider"></div>
							<div class="post-comment">
							  <img src="images\users\user-13.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Brian </a>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-8.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Richard</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-1.jpg" alt="" class="profile-photo-sm">
							  <input type="text" class="form-control" placeholder="Post a comment">
							</div>
						  </div>
						</div>
					  </div>
					  <div class="post-content">
						<img src="../../../assets/images\resource\author-4.jpg" alt="post-image" class="img-responsive post-image" >
						<div class="post-container">
						  <img src="images\users\user-4.jpg" alt="user" class="profile-photo-md pull-left">
						  <div class="post-detail">
							<div class="user-info">
							  <h5><a href="timeline.html" class="profile-link">John Doe</a> <span class="following">following</span></h5>
							  <p class="text-muted">Published a photo about 2 hour ago</p>
							</div>
							<div class="reaction">
							  <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 39</a>
							  <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 2</a>
							</div>
							<div class="line-divider"></div>
							<div class="post-text">
							  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
							</div>
							<div class="line-divider"></div>
							<div class="post-comment">
							  <img src="images\users\user-13.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Brian </a>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-8.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Richard</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-1.jpg" alt="" class="profile-photo-sm">
							  <input type="text" class="form-control" placeholder="Post a comment">
							</div>
						  </div>
						</div>
					  </div>
					  <div class="post-content">
						<img src="../../../assets/images\resource\author-4.jpg" alt="post-image" class="img-responsive post-image" >
						<div class="post-container">
						  <img src="images\users\user-4.jpg" alt="user" class="profile-photo-md pull-left">
						  <div class="post-detail">
							<div class="user-info">
							  <h5><a href="timeline.html" class="profile-link">John Doe</a> <span class="following">following</span></h5>
							  <p class="text-muted">Published a photo about 2 hour ago</p>
							</div>
							<div class="reaction">
							  <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 39</a>
							  <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 2</a>
							</div>
							<div class="line-divider"></div>
							<div class="post-text">
							  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
							</div>
							<div class="line-divider"></div>
							<div class="post-comment">
							  <img src="images\users\user-13.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Brian </a>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-8.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Richard</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-1.jpg" alt="" class="profile-photo-sm">
							  <input type="text" class="form-control" placeholder="Post a comment">
							</div>
						  </div>
						</div>
					  </div>
					  <div class="post-content">
						<img src="../../../assets/images\resource\author-4.jpg" alt="post-image" class="img-responsive post-image" >
						<div class="post-container">
						  <img src="images\users\user-4.jpg" alt="user" class="profile-photo-md pull-left">
						  <div class="post-detail">
							<div class="user-info">
							  <h5><a href="timeline.html" class="profile-link">John Doe</a> <span class="following">following</span></h5>
							  <p class="text-muted">Published a photo about 2 hour ago</p>
							</div>
							<div class="reaction">
							  <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 39</a>
							  <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 2</a>
							</div>
							<div class="line-divider"></div>
							<div class="post-text">
							  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
							</div>
							<div class="line-divider"></div>
							<div class="post-comment">
							  <img src="images\users\user-13.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Brian </a>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-8.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Richard</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-1.jpg" alt="" class="profile-photo-sm">
							  <input type="text" class="form-control" placeholder="Post a comment">
							</div>
						  </div>
						</div>
					  </div>
					  <div class="post-content">
						<img src="../../../assets/images\resource\author-4.jpg" alt="post-image" class="img-responsive post-image" >
						<div class="post-container">
						  <img src="images\users\user-4.jpg" alt="user" class="profile-photo-md pull-left">
						  <div class="post-detail">
							<div class="user-info">
							  <h5><a href="timeline.html" class="profile-link">John Doe</a> <span class="following">following</span></h5>
							  <p class="text-muted">Published a photo about 2 hour ago</p>
							</div>
							<div class="reaction">
							  <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 39</a>
							  <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 2</a>
							</div>
							<div class="line-divider"></div>
							<div class="post-text">
							  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
							</div>
							<div class="line-divider"></div>
							<div class="post-comment">
							  <img src="images\users\user-13.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Brian </a>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-8.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Richard</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-1.jpg" alt="" class="profile-photo-sm">
							  <input type="text" class="form-control" placeholder="Post a comment">
							</div>
						  </div>
						</div>
					  </div>
					  <div class="post-content">
						<img src="../../../assets/images\resource\author-4.jpg" alt="post-image" class="img-responsive post-image" >
						<div class="post-container">
						  <img src="images\users\user-4.jpg" alt="user" class="profile-photo-md pull-left">
						  <div class="post-detail">
							<div class="user-info">
							  <h5><a href="timeline.html" class="profile-link">John Doe</a> <span class="following">following</span></h5>
							  <p class="text-muted">Published a photo about 2 hour ago</p>
							</div>
							<div class="reaction">
							  <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 39</a>
							  <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 2</a>
							</div>
							<div class="line-divider"></div>
							<div class="post-text">
							  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
							</div>
							<div class="line-divider"></div>
							<div class="post-comment">
							  <img src="images\users\user-13.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Brian </a>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-8.jpg" alt="" class="profile-photo-sm">
							  <p><a href="timeline.html" class="profile-link">Richard</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							</div>
							<div class="post-comment">
							  <img src="images\users\user-1.jpg" alt="" class="profile-photo-sm">
							  <input type="text" class="form-control" placeholder="Post a comment">
							</div>
						  </div>
						</div>
					  </div>

					
					<!-- Sec Title -->

                	<!-- <div class="sec-title">
						<div class="clearfix">
							<div class="pull-left">
								<h4>Featured Courses</h4>
							</div>
							<div class="pull-right">
								<a href="featured-courses.html" class="see-all">See All</a>
							</div>
						</div>
					</div> -->
					
					
				</div>
				
			</div>
		</div>
	</div>
	
	