	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!-- Sidebar Side -->
                <div class="sidebar-side left-sidebar col-lg-3 col-md-12 col-sm-12">
                	<aside class="sidebar sticky-top scrollbar-lady-lips thin">
						
						<!-- Tags Widget -->
                        <div class="sidebar-widget tags-widget">
							<div class="widget-content">
								<div class="sidebar-title">
									<h6>Popular Topics</h6>
								</div>
								<div class="content">
									<ul>
										<li><a href="#">Animation</a></li>
										<li><a href="#">WordPress</a></li>
										<li><a href="#">Bootstrap</a></li>
										<li><a href="#">User Interface</a></li>
										<li><a href="#">Web Design</a></li>
										<li><a href="#">Photoshop</a></li>
										<li><a href="#">Responsive Design</a></li>
										<li><a href="#">Figma</a></li>
										<li><a href="#">Adobe XD</a></li>
										<li><a href="#">Sketch</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<!-- Categories Widget -->
                        <div class="sidebar-widget categories-widget">
							<div class="widget-content">
								<div class="sidebar-title">
									<h6>Top Categories</h6>
								</div>
								<div class="content">
									<ul>
										<li><a href="category.html"><span class="icon flaticon-web-programming"></span>Development</a></li>
										<li><a href="category.html"><span class="icon flaticon-pie-chart"></span>Business</a></li>
										<li><a href="category.html"><span class="icon flaticon-megaphone"></span>Marketing</a></li>
										<li><a href="category.html"><span class="icon flaticon-computer"></span>IT and Software</a></li>
										<li><a href="category.html"><span class="icon flaticon-picture"></span>Photography</a></li>
										<li><a href="category.html"><span class="icon flaticon-ux"></span>UX Design</a></li>
									</ul>
									<a href="category.html" class="all-category">View All Categories</a>
								</div>
							</div>
						</div>
						
						<!-- Featured Widget -->
                        <div class="sidebar-widget featured-widget">
							<div class="widget-content">
								<div class="sidebar-title">
									<h6>Featured Instructors</h6>
								</div>
								<div class="content">
									<div class="featured-carousel owl-carousel owl-theme">
										
										<!-- Feature Block -->
										<div class="featured-block">
											<div class="inner-box">
												<div class="image">
													<a href="instructor-profile.html" class="overlay-link"></a>
													<img src="images\resource\feature-1.jpg" alt="">
													<!-- Overlay Box -->
													<div class="overlay-box">
														<div class="overlay-inner">
															<div class="overlay-content">
																<!-- Author Image -->
																<div class="author-image">
																	<img src="images\resource\author-5.jpg" alt="">
																</div>
																<div class="name">Jhon Deo</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Feature Block -->
										<div class="featured-block">
											<div class="inner-box">
												<div class="image">
													<a href="instructor-profile.html" class="overlay-link"></a>
													<img src="images\resource\feature-2.jpg" alt="">
													<!-- Overlay Box -->
													<div class="overlay-box">
														<div class="overlay-inner">
															<div class="overlay-content">
																<!-- Author Image -->
																<div class="author-image">
																	<img src="images\resource\author-6.jpg" alt="">
																</div>
																<div class="name">Jhon Deo</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Feature Block -->
										<div class="featured-block">
											<div class="inner-box">
												<div class="image">
													<a href="instructor-profile.html" class="overlay-link"></a>
													<img src="images\resource\feature-3.jpg" alt="">
													<!-- Overlay Box -->
													<div class="overlay-box">
														<div class="overlay-inner">
															<div class="overlay-content">
																<!-- Author Image -->
																<div class="author-image">
																	<img src="images\resource\author-7.jpg" alt="">
																</div>
																<div class="name">Jhon Deo</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Feature Block -->
										<div class="featured-block">
											<div class="inner-box">
												<div class="image">
													<a href="instructor-profile.html" class="overlay-link"></a>
													<img src="images\resource\feature-1.jpg" alt="">
													<!-- Overlay Box -->
													<div class="overlay-box">
														<div class="overlay-inner">
															<div class="overlay-content">
																<!-- Author Image -->
																<div class="author-image">
																	<img src="images\resource\author-5.jpg" alt="">
																</div>
																<div class="name">Jhon Deo</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Feature Block -->
										<div class="featured-block">
											<div class="inner-box">
												<div class="image">
													<a href="instructor-profile.html" class="overlay-link"></a>
													<img src="images\resource\feature-2.jpg" alt="">
													<!-- Overlay Box -->
													<div class="overlay-box">
														<div class="overlay-inner">
															<div class="overlay-content">
																<!-- Author Image -->
																<div class="author-image">
																	<img src="images\resource\author-6.jpg" alt="">
																</div>
																<div class="name">Jhon Deo</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Feature Block -->
										<div class="featured-block">
											<div class="inner-box">
												<div class="image">
													<a href="instructor-profile.html" class="overlay-link"></a>
													<img src="images\resource\feature-3.jpg" alt="">
													<!-- Overlay Box -->
													<div class="overlay-box">
														<div class="overlay-inner">
															<div class="overlay-content">
																<!-- Author Image -->
																<div class="author-image">
																	<img src="images\resource\author-7.jpg" alt="">
																</div>
																<div class="name">Jhon Deo</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						
						<!--  Support Widget -->
                        <div class="sidebar-widget support-widget">
							<div class="widget-content">
								<h5>We are here to help you</h5>
								<div class="text">Lorem ipsum dolor sit amet, con<br>sectetur adipisicing elit, </div>
								<a href="help.html" class="theme-btn btn-style-one"><span class="txt">Support Center</span></a>
							</div>
						</div>
						
					</aside>
				</div>
				
				<!-- Content Side -->
                <div class="content-side right-sidebar col-lg-7 col-md-12 col-sm-12">
					<div class="create-post">
						<div class="row">
							<div class="col-md-7 col-sm-7">
						  <div class="form-group">
							<img src="images\users\user-1.jpg" alt="" class="profile-photo-md">
							<textarea name="texts" [(ngModel)]="feedText" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
							
						  </div>
						</div>
							<div class="col-md-5 col-sm-5">
						  <div class="tools">
							<ul class="publishing-tools list-inline">
								<li><a href="javascript:void(0)"><i class="fa fa-edit" (click)="OpenPostDialog()"></i></a></li>
								<li>
									<button (click) ="toggleEmojiPicker()"> 😀</button><br>
							<emoji-mart class="emoji-mart" set="{{set}}" *ngIf="showEmojiPicker" 
							(emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
								</li>
							  <li><a href="javascript:void(0)"><i class="fa fa-image" (click)="uploader.click()"></i></a></li>
							  <li><a href="javascript:void(0)"><i class="fa fa-video-camera"></i></a></li>
							</ul>
							<button class="btn btn-primary pull-right" (click)="createPost()">Publish</button>
						  </div>
						</div>
						</div>
						<input hidden #uploader type="file" accept=".jpg,.png,.jpeg" id="myFile" name="filename" (change)="loadFile($event)">
					</div>
					
					<div class="post-content" *ngFor="let item of feedList; let i = index">
						<div class="dots-menu btn-group">
							<a data-toggle="dropdown"> <span class="glyphicon glyphicon-option-vertical"> </span></a>
						   
							<ul class="dropdown-menu">
							  <li (click)="OpenPostDialog(item.feed_id,item.text,globalBaseUrl+item.feed_image)">
								  <a href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a></li>
							  <li class="delete-row" (click)="DeletePost(item.feed_id)">
								<a href="javascript:void(0)" data-toggle="modal" data-target="#alert-modal"><i class="fa fa-trash-o"></i> Delete</a>
							  </li>
							</ul>
						  </div>
						<div class="video-wrapper">
							<img *ngIf="item.feed_image!=null" src="{{globalBaseUrl+item.feed_image}}" alt="user">
					  </div>
					<div class="post-container">
						<img *ngIf="item.profile_image==null" src="{{globalBaseUrl+item.default_profile_image}}" alt="user" class="profile-photo-md pull-left">
						<img *ngIf="item.profile_image!=null" src="{{globalBaseUrl+item.profile_image}}" alt="user" class="profile-photo-md pull-left">
						<div class="post-detail">
						<div class="user-info">
							<h4><a href="timeline.html" class="profile-link">{{item.username}}</a></h4>
							<p class="text-muted">Updated her status about {{getTimeData(item.CreateOn_date)}} ago</p>
						</div>
						<div *ngIf="!item.is_current_user_like" class="reaction" (click)="LikeFeed(item,1)">
							<a class="btn text-green">
								<i  class="fa fa-thumbs-up" ></i>
								{{item.feed_like_count}}</a>
						</div>
						<div *ngIf="item.is_current_user_like" class="reaction" (click)="LikeFeed(item,0)">
							<a class="btn text-green">
								<i  style="color: blue;" class="fa fa-thumbs-up"></i> 
								{{item.feed_like_count}}</a>
						</div>
						<div class="line-divider"></div>
						<div class="post-text">
							<p>{{item.text}}</p>
						</div>
						<div class="line-divider"></div>
						<div class="post-comment">
							<form method="post" #commentForm="ngForm" (ngSubmit)="commentForm.form.valid && addComment(i,item)">
								<img src="images\users\user-1.jpg" alt="" class="profile-photo-sm">
								<input type="text" class="form-control commentText" placeholder="Post a comment">
							</form>
						</div>
						<div class="post-comment" *ngFor="let commentItem of item.comment; let i = index">
							<img *ngIf="commentItem.user[0].image==null" src="{{globalBaseUrl+item.default_profile_image}}" alt="user" class="profile-photo-md pull-left">
							<img *ngIf="commentItem.user[0].image!=null" src="{{globalBaseUrl+commentItem.user[0].image}}" alt="user" class="profile-photo-md pull-left">
							<p><a href="timeline.html" class="profile-link">{{commentItem.user[0].name}} </a>{{commentItem.text}} </p>
						</div>
						
						</div>
					</div>
					</div>

					

					  
					  

					
					<!-- Sec Title -->

                	<!-- <div class="sec-title">
						<div class="clearfix">
							<div class="pull-left">
								<h4>Featured Courses</h4>
							</div>
							<div class="pull-right">
								<a href="featured-courses.html" class="see-all">See All</a>
							</div>
						</div>
					</div> -->
					
					
				</div>
				
			</div>
		</div>
	</div>
	
	<div *ngIf="loader" class="screen_loader loader" id="screenLoader"></div>