

/*==================================================
  Timeline
  ==================================================*/

  .timeline-cover{
    background: url("http://smegroup.org/client/adminBook/public/storage/feeds/5f95b1397882a.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 360px;
    border-radius: 0 0 4px 4px;
    position: relative;
  }
  
  /*Timeline Menu for Large Screens*/
  
  .timeline-cover .timeline-nav-bar{
    background: rgba(0,0,0, .7);
    width: 100%;
    position: absolute;
    bottom: 25px;
  }
  
  .timeline-cover .timeline-nav-bar .profile-info{
    position: absolute;
    text-align: center;
    padding: 0 20px;
    top: -100px;
    z-index: 999;
  }
  
  .timeline-cover .timeline-nav-bar .profile-info img.profile-photo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid #fff;
  }
  
  .timeline-cover .timeline-nav-bar ul.profile-menu{
    margin: 0;
    display: table;
  }
  
  .timeline-cover .timeline-nav-bar .profile-menu li{
    display: table-cell;
    vertical-align: middle;
    padding: 15px 0;
  }
  
  .timeline-cover .timeline-nav-bar .profile-menu li a{
    color: #fff;
    padding: 15px;
    text-decoration: none;
  }
  
  .timeline-cover .timeline-nav-bar .profile-menu li a.active{
    color: #27aae1;
  }
  
  .timeline-cover .timeline-nav-bar .profile-menu li a:hover{
    color: #27aae1;
  }
  
  .timeline-cover .timeline-nav-bar ul.follow-me{
    margin: 0;
    position: absolute;
    right: 15px;
    top: 2px;
  }
  
  .timeline-cover .timeline-nav-bar .follow-me li{
    padding: 6px 15px;
    color: #fff;
  }
  
  /*Timeline Menu for Small Screens*/
  
  .timeline-cover .navbar-mobile{
    bottom: -185px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  .timeline-cover .navbar-mobile .profile-info img.profile-photo{
    border: 10px solid #fff;
    border-radius: 50%;
    height: 200px;
    margin: auto;
    width: 200px;
  }
  
  .timeline-cover .navbar-mobile .mobile-menu ul{
    margin: 0 0 20px;
  }
  
  .timeline-cover .navbar-mobile .mobile-menu ul li{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }
  
  .timeline-cover .navbar-mobile .mobile-menu ul li::after{
    content: "";
    height: 20px;
    background: none;
    border-right: 1px solid #f1f2f2;
    position: absolute;
    right: 0;
  }
  
  .timeline-cover .navbar-mobile .mobile-menu ul li:nth-child(4)::after{
    content: none;
  }
  
  .timeline-cover .navbar-mobile .mobile-menu ul li a{
    color: #4d4d4d;
  }
  
  .timeline-cover .navbar-mobile .mobile-menu ul li a.active{
    color: #27aae1;
  }
  
  
  /*==================================================
    Timeline Sidebar Right
    ==================================================*/
  
  .feed-item{
    text-align: left;
    margin-bottom: 13px;
    padding: 0 20px;
    position: relative;
  }
  
  .feed-item::before{
    border-left: 2px solid #8dc63f;
    position: absolute;
    height: 30px;
    content: "";
    left: 0;
    top: 5px;
  }
  
  .feed-item img.profile-photo-sm{
    float: left;
    margin-right: 10px;
  }
  
  .feed-item .live-activity{
    border-bottom: 1px solid #f1f2f2;
  }

  /*==================================================
 Post Date
==================================================*/

.timeline .post-content{
    position: relative;
    overflow: visible;
  }
  
  /* .timeline .post-content::before{
    content: "";
    position: absolute;
    background: none;
    width: 1px;
    height: 98%;
    left: -145px;
    border-left: 2px solid #8dc63f;
    top: 15px;
  } */
  
  .timeline .post-content .post-date{
    position: absolute;
    margin-left: -125px;
  }
  
  .timeline .post-content .post-date::before{
    content: "";
    background: #8dc63f;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    left: -30px;
    top: 10px;
    border: 2px solid #fff;
  }
  
  .timeline .post-content img.post-image{
    border-radius: 4px 4px 0 0;
  }

  .create-post {
    width: 100%;
    min-height: 90px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f2f2;
}
.create-post .form-group {
    margin-bottom: 0;
    display: inline-flex;
}
img.profile-photo-md {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.create-post .form-group img.profile-photo-md {
    margin-right: 10px;
}
.create-post .form-group .form-control {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.create-post .tools {
    padding: 8px 0 10px;
}
.create-post .tools ul.publishing-tools {
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 5px 0;
}
.btn-primary {
    background: #27aae1;
    padding: 7px 25px;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    position: relative;
    font-weight: 600;
    outline: none;
    border-radius: 30px;
}
ul li {
    /* list-style-image: url(../images/bullet.png); */
}
.create-post .tools ul.publishing-tools li a {
    color: #6d6e71;
    font-size: 18px;
}
a, a:active, a:focus {
    outline: none;
}

/*==================================================
  Post Contents CSS
  ==================================================*/

  .post-content{
    /* background: #f8f8f8; */
    background: #ffffff;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #f1f2f2;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .post-content img.post-image, video.post-video, .google-maps{
    width: 100%;
    height: auto;
  }
  
  .post-content .google-maps .map{
    height: 300px;
  }
  
  .post-content .post-container{
    padding: 20px;
  }
  
  .post-content .post-container .post-detail{
    margin-left: 65px;
    position: relative;
  }
  
  .post-content .post-container .post-detail .post-text{
    line-height: 24px;
    margin: 0;
  }
  
  .post-content .post-container .post-detail .reaction{
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .post-content .post-container .post-detail .post-comment{
    display: inline-block;
    margin: 10px auto;
    width: 100%;
  }
  
  .post-content .post-container .post-detail .post-comment img.profile-photo-sm{
    margin-right: 10px;
  }
  
  .post-content .post-container .post-detail .post-comment .form-control{
    height: 30px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    /* margin: 7px 0; */
    min-width: 0;
  }
  .sticky-top{
    z-index: 0;
  }
  aside.sidebar.sticky-top{
    max-height:inherit;
    height: 500px;
  }
  aside.sidebar.sticky-top:hover{
    overflow-y: scroll;
  }
  
.scrollbar-lady-lips::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
.scrollbar-lady-lips::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
.scrollbar-lady-lips::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef),
  to(#fecfef));
  background-image: -webkit-linear-gradient(bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); }
  
.thin::-webkit-scrollbar {
  width: 6px; }
    
   
/* Three dots of post */
.dots-menu{
  /* display: inline-block; */
  font-size: 15px;
  float: right;
  margin: 10px 10px;

}
.dots-menu .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 5px;
}      
a{
  cursor:pointer;
}
.dots-menu ul.dropdown-menu {
  left: auto;
  right: 12px;
  min-width: 50px;
}
.dots-menu ul.dropdown-menu  li{
  padding: 0;
  width: 100%;
  
}

.dots-menu ul.dropdown-menu  li  a{
  margin: 0;
}

.post-container .user-info h4 {
  margin-top: 2px;
  margin-bottom: 0px;
}

.post-container .post-text p{
  margin: 0 0 0;
}
.post-container .post-text p{
  margin: 0 0 0;
}
.post-container .post-comment img{
  height: 35px;
  width: 35px;
}