<div class="manage-cource-section">
    <div class="auto-container">
        <div class="sec-title">
        <div class="pull-right">
            <a href="javascript:void(0)" (click)="OpenQuesAdd()" class="see-all">Add Question</a>
        </div>
    </div>
<div class="inner-container">
    <div class="container-content">
       
        <table class="table">
          <thead>
                <tr>
                        <th>Questions</th>
                </tr>
          </thead>
          <tbody>
          
            <tr *ngFor="let list of questionList; let i = index">
              <!-- <th class="category" scope="col">0{{i}}</th> -->
              <th class="title" scope="col">Question {{i}}: <div [innerHTML]="list.question"></div></th>
              <th class="actions" scope="col">
                <!-- <a href="javascript:void(0)" (click)="Edit(list.sub_category_name,list.id)" class="flaticon-edit-2"></a>
                <a href="javascript:void(0)" (click)="Delete(list.id)" class="flaticon-trash"></a></th>
                <input type="button" value="Publish">
                <a href="javascript:void(0)" (click)="OpenQuesList()" class="see-all">
                    Questions
                </a> -->
            </tr>
            
            
            
            
          </tbody>
        </table>
    </div>
</div>
</div>
</div>
