<section class="signup-section login-section" style="background-image:url(images/background/pattern-4.png)">
    <div class="auto-container">
        <!-- <div class="logo">
            <a href="index.html"><img src="images\logo-3.png" alt=""></a>
        </div> -->
        <div class="inner-container">
            <h2>Welcome Back To <span class="theme_color">Biqual</span></h2>
            <div class="text">Sign In and Start Learning</div>
            
            <div class="styled-form">
                <form method="post" 
                (ngSubmit)="loginForm.form.valid && onSubmit(model)" #loginForm="ngForm">
                    
                    <div class="form-group">
                        <input type="email" [(ngModel)]="model.email" name="email" 
                        value="" placeholder="Email Address" required #email="ngModel" email>
                        <div *ngIf="email.invalid && (email.dirty || email.touched || loginForm.submitted)"
                            class="alert alert-danger">
                                <div *ngIf="email.errors.required">
                                    Email is required.
                                </div>
                                <div *ngIf="email.errors.email">Email must be valid
                                </div>
                            </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="model.password" 
                        value="" placeholder="Password" required #password="ngModel">
                        <div *ngIf="password.invalid && (password.dirty || password.touched || loginForm.submitted)"
                            class="alert alert-danger">
                                <div *ngIf="password.errors.required">
                                    Password is required.
                                </div>
                            </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="check-box">
                                    <input type="checkbox" name="remember-password" id="type-1"> 
                                    <label for="type-1">Remember Password</label>
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="forgot">Forget Password?</a> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group text-center">
                        <button type="submit" class="theme-btn btn-style-one"><span class="txt">Sign In</span></button>
                    </div>
                    
                    <div class="form-group">
                        <div class="users">New User? <a href="/#/authentication/Signup">Sign Up Now</a></div>
                    </div>
                    
                </form>
            </div>
            
            <div class="social-boxed text-center">
                <a class="google" href="#"><span class="icon fa fa-google"></span>Continue with Google</a>
            </div>
            
        </div>
    </div>
</section>