<div class="manage-cource-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <h4>Create Test</h4>
                </div>
                <div class="pull-right">
                    <a href="javascript:void(0)" class="see-all">Test List</a>
                </div>
            </div>
        </div>
        <div class="inner-container">
            <div class="container-content">
                <div class="row clearfix">
                
                    <!-- Left Column -->
                    <div class="left-column col-lg-12 col-md-12 col-sm-12">
                        <div class="inner-column">
                            
                            
                            <!-- Edit Course Form -->
                            <div class="edit-course-form">
                                <form method="post">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Module</label>
                                                <!-- <input id="name" type="text"  name="module" 
                                                value="" placeholder="Enter Category" required=""> -->
                                                <input type="text" id="moduleText" class="mat-input-element" readonly>
                                                <div id="myDropdown" class="dropdown-content">
                                                    <input type="text" placeholder="Search.." id="myInput"  autocomplete="off">
                                                    <div class="scrollbar scrollbar-lady-lips thin">
                                                        <a class="ui-menu-item" href="javascript:void(0)"
                                                        >fds</a>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Category</label>
                                                <input id="category" type="text"  name="category" 
                                                value="" placeholder="Enter Category" required="">
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Sub Category</label>
                                                <input id="subCategory" type="text"  name="sub_category" 
                                                value="" placeholder="Enter Sub Category" required="">
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Test Topic</label>
                                                <input id="testTopic" type="text"  name="test_topic" 
                                                value="" placeholder="Enter Topic" required="">
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Number of Question</label>
                                                <input id="noQuestion" type="text"  name="noQuestion" 
                                                value="" placeholder="Enter Number of Question" required="">
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Time</label>
                                                <input id="time" type="time"  name="time" 
                                                value="" placeholder="Enter Test Time" required="">
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Published Date</label>
                                                <input id="publishedDate" type="date"  name="publishedDate" 
                                                value="" placeholder="Enter published date" required="">
                                                
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <!-- Form Group -->
                                    
                                    
                                    
                                    
                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <button type="submit" class="theme-btn btn-style-one"><span class="txt">Save</span></button>
                                        <button type="button" class="theme-btn btn-style-one"><span class="txt">Next</span></button>
                                        <!-- <button type="button" class="theme-btn btn-style-one"><span class="txt">Cancel</span></button> -->
                                    </div>
                                    
                                </form>
                            </div>
                            
                        </div>
                    </div>
               
                
              
            </div>
        </div>
    </div>
</div>