<div class="manage-cource-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <h4>Create Test</h4>
                </div>
                <div class="pull-right">
                    <a href="javascript:void(0)" class="see-all">Test List</a>
                </div>
            </div>
        </div>
        <div class="inner-container">
            <div class="container-content">
                <div class="row clearfix">
                
                    <!-- Left Column -->
                    <div class="left-column col-lg-12 col-md-12 col-sm-12">
                        <div class="inner-column">
                            
                            
                            <!-- Edit Course Form -->
                            <div class="edit-course-form">
                                <form method="post"
                                (ngSubmit)="testForm.form.valid && onSubmit(model)" 
                                #testForm="ngForm">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Module</label>
                                                <!-- <input id="name" type="text"  name="module" 
                                                value="" placeholder="Enter Category" required=""> -->
                                                <input [(ngModel)]="model.module_id" type="text" value="" name="module" placeholder="Select Module" id="moduleText" (click)="myFunction()" class="mat-input-element" readonly #module="ngModel">
                                                    <div id="myDropdown" class="dropdown-content">
                                                        <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()" autocomplete="off" >
                                                        <div class="scrollbar scrollbar-lady-lips thin">
                                                            <a *ngFor="let list of moduleList; let i = index" class="ui-menu-item" href="javascript:void(0)"
                                                            (click)="myFunction2(list.module_name,list.id)">{{list.module_name}}</a>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="module.invalid && (module.dirty || module.touched || testForm.submitted)"
                                                    class="alert alert-danger">
                
                                                            <div *ngIf="module.errors.required">
                                                                Module is required.
                                                            </div>
                            
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Category</label>
                                                <input [(ngModel)]="model.category_id" type="text"  name="category" placeholder="Select Category" id="categoryText" (click)="myFunction12()" class="mat-input-element" readonly #category="ngModel">
                                                    <div id="myDropdown2" class="dropdown-content">
                                                        <input type="text" placeholder="Search.." id="myInput2" (keyup)="filterFunction2()" autocomplete="off" >
                                                        <div class="scrollbar scrollbar-lady-lips thin">
                                                            <a *ngFor="let list of categoryList; let i = index" class="ui-menu-item" href="javascript:void(0)"
                                                            (click)="myFunction22(list.subject_name,list.id)">{{list.subject_name}}</a>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="category.invalid && (category.dirty || category.touched || testForm.submitted)"
                                                    class="alert alert-danger">
                
                                                            <div *ngIf="category.errors.required">
                                                                Category is required.
                                                            </div>
                            
                                                    </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Sub Category</label>
                                                <input [(ngModel)]="model.sub_category_id"  name="subcategory" type="text" placeholder="Select Sub-Category" id="subcategoryText" (click)="myFunction13()" class="mat-input-element" readonly #subcategory="ngModel">
                                                    <div id="myDropdown3" class="dropdown-content">
                                                        <input type="text" placeholder="Search.." id="myInput3" (keyup)="filterFunction3()" autocomplete="off" >
                                                        <div class="scrollbar scrollbar-lady-lips thin">
                                                            <a *ngFor="let list of subCategoryList; let i = index" class="ui-menu-item" href="javascript:void(0)"
                                                            (click)="myFunction23(list.sub_category_name,list.id)">{{list.sub_category_name}}</a>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="subcategory.invalid && (subcategory.dirty || subcategory.touched || testForm.submitted)"
                                                    class="alert alert-danger">
                
                                                            <div *ngIf="subcategory.errors.required">
                                                                Sub-Category is required.
                                                            </div>
                            
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Test Topic</label>
                                                <input [(ngModel)]="model.test_name" id="testTopic" type="text"  name="test_topic" 
                                                value="" placeholder="Enter Topic" required="" #topic="ngModel">
                                                <div *ngIf="topic.invalid && (topic.dirty || topic.touched || testForm.submitted)"
                                                    class="alert alert-danger">
                
                                                            <div *ngIf="topic.errors.required">
                                                                Test Topic is required.
                                                            </div>
                            
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Number of Question</label>
                                                <input [(ngModel)]="model.no_of_ques" id="noQuestion" type="number"  name="noQuestion" 
                                                value="" placeholder="Enter Number of Question" required="" #questotal="ngModel">
                                                <div *ngIf="questotal.invalid && (questotal.dirty || questotal.touched || testForm.submitted)"
                                                    class="alert alert-danger">
                
                                                            <div *ngIf="questotal.errors.required">
                                                                Number of Question is required.
                                                            </div>
                            
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Time limit(HH:MM)</label>
                                                <input [(ngModel)]="model.exam_time" id="time" type="time"  name="time" 
                                                value="" placeholder="Enter Test Time" required="" #timelimit="ngModel">
                                                <div *ngIf="timelimit.invalid && (timelimit.dirty || timelimit.touched || testForm.submitted)"
                                                    class="alert alert-danger">
                
                                                            <div *ngIf="timelimit.errors.required">
                                                                Time limit is required.
                                                            </div>
                            
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Published Date</label>
                                                <input [(ngModel)]="model.publish_date" id="publishedDate" type="date"  name="publishedDate" 
                                                value="" placeholder="Enter published date" required="" #publishdate="ngModel">
                                                
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <!-- Form Group -->
                                    
                                    
                                    
                                    
                                    <!-- Form Group -->
                                    <div class="form-group">
                                        <button type="submit" class="theme-btn btn-style-one"><span class="txt">Save</span></button>
                                        <button type="button" class="theme-btn btn-style-one"><span class="txt">Next</span></button>
                                        <!-- <button type="button" class="theme-btn btn-style-one"><span class="txt">Cancel</span></button> -->
                                    </div>
                                    
                                </form>
                            </div>
                            
                        </div>
                    </div>
               
                
              
            </div>
        </div>
    </div>
</div>