/* You can add global styles to this file, and also import other style files */
@import '~@ctrl/ngx-emoji-mart/picker';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal{
    top: 65px !important;
}
.cdk-overlay-pane{
    margin-top: 10%;
}
.loader {
    display: block;
    position: fixed;
    z-index: 100;
    background-image: url(../src/assets/images/Loader/Loader.gif);
    background-color: #666;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-size: 150px 100px;
}